
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-x: hidden;
}

.section {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#section1 {
    background-color: #121212;
}

.container {
    max-width: 600px;
    width: 100%;
}

button {
    padding: 15px 30px;               
    font-size: 16px;                  
    font-weight: bold;               
    color: black;                     
    background: linear-gradient(45deg, white, lightgreen);  
    border: none;                    
    border-radius: 50px;            
    cursor: pointer;                
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    transition: all 0.3s ease;       
    outline: none;                   
}

footer {
    position: fixed;  
    bottom: 0;       
    left: 50%;
    transform: translateX(-50%);
    color: lightgreen;   
    padding: 10px 20px; 
    font-size: 14px;  
    text-align: center; 
    border-top-left-radius: 10px; 
}

#section2 {
    background-color: white;
    color: black;
}

u {
    text-decoration-color: lightgreen;
    text-decoration-thickness: 5px;
}
  

ul {
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
}

li {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.5;  
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555; 
}

.explanation-container {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

html {
    scroll-behavior: smooth;
}

#spotify-login {
    cursor: pointer;
}

@media (max-width: 768px) { 
    html, body { font-size: 16px; }

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }

    .section { padding: 10px; }

    .container { max-width: 400px; }

    button { padding: 10px 20px; font-size: 14px; }

    footer { padding: 5px 10px; font-size: 12px; }

    ul { margin-top: 10px; padding-left: 10px; }

    li { margin-bottom: 10px; font-size: 16px; }

    p { font-size: 16px; }

    .explanation-container { padding: 20px; } 
}